<div class = "container">
  <h1>...................</h1>
  <div class = "potion-container">
    <div class = "potion-form">
      <form>

      <div class="form-group">
        <label for=""> Potion name</label>
        <input type ="text" name ="potionName">
      </div>

      <div class="form-group">
        <label for=""> Potion description</label>
        <input type ="text" name ="potionDescription">
      </div>

      <div class="form-group">
        <label for=""> Potion price</label>
        <input type ="text" name ="potionPrice">
      </div>
      <div class="form-group">
        <button>SAVE</button>
      </div>

    </form>
    </div>

  <div class="potion-grid">
    <div class="potion-row">
      <div class="potion-row-details">
          <span>fdsfds</span>
          <span>////</span>
          <span>fdsfds </span>
      </div>
      <div class="potion-row-action">
        <a> ry</a>
      </div>
    </div>
  </div>
  </div>
</div>